flows (2).json
[{"id":"7f1992eba63bd19b","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"91f781fcab2c5453","type":"aedes broker","z":"7f1992eba63bd19b","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":350,"y":100,"wires":[[],[]]},{"id":"bf99d01e42f36180","type":"mqtt out","z":"7f1992eba63bd19b","name":"","topic":"vaga","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a1ccc0112116a69","x":730,"y":280,"wires":[]},{"id":"23058c65b5e65550","type":"inject","z":"7f1992eba63bd19b","name":"vaga-estacionamento","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"X","payloadType":"str","x":220,"y":280,"wires":[["93224a71e09df2db"]]},{"id":"93224a71e09df2db","type":"function","z":"7f1992eba63bd19b","name":"function 1","func":"if (msg.payload == \"A\") {\n    msg.payload = \"Somente vaga A disponível\"\n} else if (msg.payload == \"B\"){\n    msg.payload = \"Somente vaga B disponível\"\n} else if (msg.payload == \"AB\"){\n    msg.payload = \"Ambas as vagas disponiveis\"\n} else {\n    msg.payload = \"Nenhuma vaga disponível\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["bf99d01e42f36180","a68498646ee4713a"]]},{"id":"549b76ac7dc6470c","type":"mqtt in","z":"7f1992eba63bd19b","name":"","topic":"vaga","qos":"0","datatype":"auto-detect","broker":"1a1ccc0112116a69","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":420,"wires":[["c41a75044a8a0e04"]]},{"id":"a68498646ee4713a","type":"debug","z":"7f1992eba63bd19b","name":"subscriber","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"c41a75044a8a0e04","type":"ui_text_input","z":"7f1992eba63bd19b","name":"","label":"vagas disponiveis","tooltip":"","group":"aa95a02e61ab29b2","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":710,"y":420,"wires":[[]]},{"id":"e5f811679d839793","type":"ui_text_input","z":"7f1992eba63bd19b","name":"","label":"Digitar","tooltip":"","group":"aa95a02e61ab29b2","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":270,"y":520,"wires":[["c41a75044a8a0e04","93224a71e09df2db"]]},{"id":"1a1ccc0112116a69","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"aa95a02e61ab29b2","type":"ui_group","name":"Status","tab":"b1d713a4e8bd45ab","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b1d713a4e8bd45ab","type":"ui_tab","name":"Subscriber","icon":"dashboard","order":1,"disabled":false,"hidden":false}]